/*.d.ts
/*.js
/*.js.map

*.log
*.pid
*.seed
*.pid.lock
*.tsbuildinfo

!/public/*.gitkeep
!/next-env.d.ts
!/jest.config.js

/boilerplate
/utils
/url
/components
/typography
/meta
/cms
/out
/build
/storybook-static
/.next
/public/*

logs
pids
node_modules
jspm_packages

.npm
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json